body {
  text-align: center;
  background-color: #D1DF00;
  color: #8A30BB;
  font-family: 'Righteous';
  /*font-family: 'Sigmar One' ;*/
}

header {
  /*border: 2px solid blue;*/
  height: 100px;
  background-color: #E27000;
  padding: 1vw 0;
}

button {
  position: absolute;
  float: right;
  right: 20px;
}


#startgame {
  /*display: none;*/
  width: 40vw;
  height: 20vw;
  top: 110px;
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  left: 30vw;
  bottom: 190px;
  margin-top: 100px;
  /*margin-left: -150px;*/
  padding-top: 60px;
  /*padding-bottom: 100px;*/
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 1.25em;
  z-index: -1;
}

.logo {
  width: 28vw;
  height: 8vw;
  position: absolute;
  right: 450px;
}

.gameSection {
  display: none;
  /*display: flex;*/
  justify-content: center;
  width: 100%;
  margin: 5vw 0;
}

.flex-container {
  position: absolute ;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  border-collapse: collapse;

}

.row1 {
  margin: 0 auto;
  display: flex;
  align-content: flex-start;
}

.row1 .flex-box{
  background-color: #FF614C;

}

.column {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.row2 {
  display: flex;
  flex-direction: column;
  /*order: 1;*/
}

.row3 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /*order: 1;*/
}

.row4 .flex-box{
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  background-color: #1594FD;
}

.circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.flex-circle {
  border: 1px solid black;
  border-radius: 80%;
  width   : 10vw;
  height  : 10vw;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle > :nth-child(2) {
  border: none !important;
  width: 12vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circleOne {
  background-color: #FF614C;
}
#circleTwo {
  background-color: #1594FD;
}

.piece {
  border: 1px solid black;
  border-radius: 80%;
  width   : 2vw;
  height  : 2vw;
}

.redPiece {
  background-color: #FF2407;
  position: absolute;
  /*left: 11.25vw;*/
  /*left: 0vw;*/
  visibility: hidden;
}
/*
#circleOne > :first-child {
  position: absolute;
  background-color: red;
  display: none;
}*/

#mainPiece1 {
  border: 1px solid black;
  border-radius: 80%;
  width   : 2vw;
  height  : 2vw;
  position: absolute;
  background-color: #FF2407;
  /*display: none;*/
}

.bluePiece {
  background-color: blue;
  position: absolute;
  /*right: 11.25vw;*/
  visibility: hidden;

}

#mainPiece2 {
  border: 1px solid black;
  border-radius: 80%;
  width   : 2vw;
  height  : 2vw;
  position: absolute;
  background-color: blue;
  /*display: none;*/
}


.dice {
  /*border: 1px solid black;*/
  border-radius: 20%;
  width   : 5vw;
  height  : 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.dice img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
  /*background-color: black;*/


.row4 {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}


/*.non-occ-square > :first-child, .non-occ-square > :nth-child(2) {
  display: none;
}

.blue-occ-square > :nth-child(2) {
  display: flex;
}
*/


.flex-box {
    width   : 8vw;
    height  : 8vw;
    border  : 1px solid black;
    color   : black;
    display : flex;
    align-items: center;
    justify-content: center;
    background-color: #E27000;
}
